body{
    margin:0px; 
    box-sizing: border-box;
background-color: rgb(185, 185, 185); 
font-family: 'Montserrat', sans-serif;
}

.separacion {padding: 1px;}
.centrado {margin:0 auto;}
.letra-chica { font-size:30px}
.separacion-altura { padding-top: 5px; padding-bottom: 20px;}
.separacion-margin {margin-top: 5px;}

.card{padding: 10px;
    border-color: rgb(255, 255, 255);
    background-color:rgb(185, 185, 185) ;}

.nav-item:hover{
    font-weight: bold;}



.fixed{
        position: fixed; z-index: 1000; }

.navbar {position:fixed; width: 100%; height: auto; }

.foto-principal { width: 100vp; 
    height: 450px;
    background-image: url("./fotos/fondo5.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: scale-down; 
    }

.XL { font-size: 60px;
    color:rgb(11, 11, 187); font-weight: bold;}

.proximas-salidas, .galeria, .foot {
    display: flex; 
    flex-flow: row wrap;
    padding-bottom: 10px; 
    position:relative;
    align-content: center; 
    justify-content: center;  }

.galeria img{margin-top:1px; margin-bottom: 5px;}

.aviso{font-size: 30px; text-align: center; width: 80%; }

.destinos {
    display: flex; 
    flex-flow: row wrap;
    padding-bottom: 10px; }

.foto-redes{ width: 50px}

.footer__container{ display:flex;
        margin-bottom: 15px;
    justify-content: center;}

.footer__inputs{margin-top: 10px; 
    display: flex;
    overflow: hidden;
     }

.footer__input{height: 50px;
display: block;
border-radius: 6px;
outline: none;
border:none;
margin-bottom: 5px;}

.footer__submit{margin-bottom: 5px;
    margin-left: 10px;
    display:inline-block;
    height: 50px;
    border: none;
    border-radius: 6px;
cursor: pointer;}


.foot { background-color: rgb(255, 255, 255);}

.animado { opacity: 0.2;
        transition: all 1s;}


.btn:hover {background-color: #ffffff;
        color:#3835e4;
        font-weight: bold;
               }      

.btn {background-color: #3835e4;
            color:rgb(255, 255, 255);
        font-size: 20px;
    }

#email {width:250px;
    height: 50px;}

.countdown { font-size: 20px;}

.button:hover{zoom: 120%;
    font-weight: bold;}

img{border-radius: 5px;}

@media only screen and (max-width:767px) {
    .hidden {display:none}
    .letra-chica { font-size: 20px;}
    .foot {text-align: center;}
    .galeria img{width: 85%; height: auto;}
}

